<DOCTYPE! HTML>
<html>
<head>
<title>
homepage
</title>
</head>
<body>
<body background = xool11.jpg>

<h1 align = center>HALLINGBURY PRIMARY SCHOOL</h1>

<table rules="none" border="10" cellspacing ="20" cellpadding ="5" align ="center" colour = red>

<tr>
<th>Announcement</th>
<th>Downloads</th>
<th>Student Section</th>
<th>Library</th>
</tr>

<tr>
<td>
 <ul>
  <li><a href=application.html>Applications</a></li>
  <li>medical aid collection</li>
  <li><a href = SportsEvents.html>Sports Events</a></li>
 </ul>
</td>

<td>
 <ul>
  <li><a href = calendar.html>School Calendar</a></li>
  <li><a href = schooltimetable.html>School Time Table</a></li>
  <li>News Letter</li>
 </ul>
</td>

<td>
 <ul>
  <li><a href = StudentPortal.html>Student Portal</a></li>
  <li>Student Webmail</li>
  <li><a href = learnonline.html>Learn Online</a></li>
 </ul>
</td>

<td>
 <ul>
  <li><a href = eResources.html>e-Resources</a></li>
  <li><a href = ReadingGuidelines.html>Reading Guidelines</a></li>
  <li>Library Catalogue</li>
 </ul>
</td>
</tr>
</table>
</body>

<br>
<font size=5>
<marquee align="bottom" bgcolor="silver" >Hallingbury has produced good grade seven results in the class of 2015. Twenty-five student as 4 units, 37 students has 5 units
and has an average of 6 units per student, Making it number 5 in terms of acardemic in the Harare Province. </marquee>
</font>
</br>







